.task-row {
    width: 329px;
    height: 30px;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 5px;

    border: none;
    background: none;

    color: #121212;

    cursor: pointer;
}

.task-checkbox-button {
    width: 20px;
    height: 20px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background: none;
    cursor: pointer;
}

.task-checkbox-icon {
    width: 20px;
    height: 20px;
}

.task-name-button {
    padding: 0;
    border: none;
    background: none;

    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #121212;

    cursor: pointer;
}

.task-row.completed .task-name-button {
    color: #ACACAC;
}

.new-task-input {
    flex: 1;
    min-width: 0;
    padding: 0;

    border: none;
    outline: none;
    background: transparent;

    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #121212;
}

.new-task-input::placeholder {
    color: #ACACAC;
}
