.admin-study-list-container {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

.admin-study-list-content {
    padding-bottom: 100px;
    margin-top: 30px;
}

.admin-study-list-content .study-card-list {
    margin-top: 20px;
}

.study-card-list {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    gap: 12px 9px;
}

.admin-study-list-content .study-list-message {
    margin-top: 20px;
}

/* 스터디 추가 버튼 */
.admin-study-add-button {
    position: absolute;
    right: 24px;
    bottom: 50px;

    width: 60px;
    height: 60px;

    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.admin-study-add-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
}