.study-list-page {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;

    background: #FFFFFF;
}

.study-list-container {
   width: 100%;
  max-width: 430px;
  min-height: 100vh;
  background: #fff;
}

.study-list-content {
    box-sizing: border-box;
    width: 408px;
    margin: 10px auto 0;
    padding: 0 18px;
}

.study-list-description {
    margin: 8px 0 19px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #777;
}

.study-card-list {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    gap: 12px 9px;
}

.study-list-message {
    margin: 8px 0 19px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #777;
}